<!-- <div class="container mx-auto p-6 mt-12 mb-10">

  <h1 class="text-4xl font-bold">{{ destination?.name }}</h1>
  <p class="text-lg  mt-4">{{ destination?.description }}</p>

</div>
 -->



 <div class="container mx-auto p-6 mt-12 mb-10 bg-base-200 shadow-lg rounded-2xl">
  <h1 class="text-5xl font-extrabold text-primary mb-4 text-center">
    {{ destination?.name }}
  </h1>
  <p class="text-lg  leading-relaxed tracking-wide text-justify">
    {{ destination?.description }}
  </p>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <img
      *NgFor="let image of destination?.images.slice(0, 3)"
      [src]=""
      alt="{{ destination?.name }}"
      class="w-full h-60 object-cover rounded-xl shadow-md"
    />
  </div>
</div>
