<section class="gallery">
  <div class="container mx-auto p-6 mt-12 mb-10">
    <h1 class="title">Endless Memories 📸</h1>
    <div class="carousel mt-10">
      <div class="carousel-track">
        <img
          *ngFor="let image of gallery"
          src="{{ image.pathImage }}"
          alt="Gallery Image"
          class="carousel-item"
        />
      </div>
    </div>
  </div>
</section>

<!--
<div class="wrapper">
  <div class="inner" [style.--quantity]="gallery.length">
    <div
      class="card"
      *ngFor="let image of gallery; let i = index"
      [style.--index]="i"
      style="--color-card: 142, 249, 252;"
    >
      <div class="img" [style.backgroundImage]="'url(' + image.pathImage + ')'"></div>
    </div>
  </div>
</div> -->

