<!--Start About Us -->

<section class="about-us">




  <div class="about-container">

    <img
      src="../../../../public/Hurghada-Egypt-1.jpg"
      class="about-image left"
    />
    <div class="about-text">
      <h2 class="title">About Us</h2>
      <p>
        Welcome to Pharaonia! We are dedicated to providing you with the best
        travel experiences in Egypt and beyond. Explore the ancient wonders of
        Aswan, the vibrant life of Sharm El Sheikh, and the historical treasures
        of Luxor. Our mission is to make your journey unforgettable.
      </p>
      <button class="btn btn-outline btn-primary">See More</button>
    </div>
    <img
      src="../../../../public/Abu-SImbel-Temple-Aswan-Tourist-Attractions-Egypt-Tours-Portal.jpg"
      class="about-image right"
    />
  </div>
</section>

<!--End About Us -->

<!--Start Destinations -->
<div class="container mx-auto py-16">
  <h2 class="title">Our Destinations</h2>
  <div class="carousel carousel-center bg-slate-50 rounded-box max-w-md space-x-4 p-4">
    <div class="carousel-item" *ngFor="let destination of destinations">
      <img
        [src]="destination.imagePath"
        alt="destination"
        class="rounded-lg w-full h-64 object-cover">

      <h3 class="text-lg font-semibold">{{ destination.name }}</h3>
    </div>
  </div>
</div>
<!--End Destinations -->
