<!--Start About Us -->

<section
  class="relative h-screen bg-cover bg-center"
  style="background-image: url('elgouna.jpg')"
>
  <!-- Overlay -->
  <div class="absolute inset-0 bg-black bg-opacity-50"></div>

  <!-- Content -->
  <div
    class="relative z-10 flex flex-col justify-center items-center h-full text-center text-white px-4"
  >
    <h1 class="text-5xl md:text-7xl font-bold mb-4" style="color: aqua; font-style:oblique">
      Explore!
    </h1>
    <p class="text-lg md:text-xl max-w-2xl" style="font-style: italic">
    {{aboutUs}}
    </p>

    <button class="btn btn-outline btn-primary" [routerLink]="['/aboutUs']" routerLinkActive="router-link-active" ><span style="color:rgb(183, 182, 182)">About US </span></button>
  </div>
</section>

<!--End About Us -->
<hr class="line my-12" />
<!--Start Destinations -->

<section class="destinations">
  <div class="container mx-auto p-6 mt-12 mb-10">
    <h2 class="title">Destination Recommendations</h2>

    <div
      *ngIf="destinations.length > 0"
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
    >
      <div
        *ngFor="let destination of destinations"
        class="card transition duration-300 transform hover:scale-105 hover:shadow-2xl"
      >
        <figure>
          <img
            [src]="
              destination.imagePath.length > 0
                ? destination.imagePath[0]
                : 'assets/default-image.jpg'
            "
            alt="{{ destination.name || 'No Name' }}"
            class="w-full h-48 object-cover rounded-t-lg"
          />
        </figure>
        <div class="p-4 text-center">
          <h2 class="text-xl font-bold dark:text-white" style="color: gray">
            {{ destination.name || "Name not available" }}
          </h2>
        </div>
      </div>
<!--
      <button class="btn btn-outline btn-primary">
        <span style="color: rgb(183, 182, 182)">Discover All Destinations</span>
      </button> -->
      <!-- <button class="btn" (click)="go(destination.id)">View Details</button> -->

      <ng-template #noData>
        <div class="flex justify-center items-center h-screen">
          <span class="loading loading-dots loading-2xl p-12 text-5xl"></span>
        </div>
      </ng-template>
    </div>

    <!--End Destinations -->
  </div>
</section>
