<!--Start About Us -->

<section class="relative h-screen bg-cover bg-center" style="background-image: url('elgouna.jpg')">
  <!-- Overlay -->
  <div class="absolute inset-0 bg-black bg-opacity-50"></div>

  <!-- Content -->
  <div class="relative z-10 flex flex-col justify-center items-center h-full text-center text-white px-4">
    <h1 class="text-5xl md:text-7xl font-bold mb-4" style="color: aqua; font-style:oblique">
      Explore!
    </h1>
    <p class="text-lg md:text-xl max-w-2xl" style="font-style: italic">
      {{aboutUs}}
    </p>

    <button class="btn btn-outline btn-primary" [routerLink]="['/aboutUs']" routerLinkActive="router-link-active"><span
        style="color:rgb(183, 182, 182)">About US </span></button>
  </div>
</section>
<!--End About Us -->

<hr class="line my-12" />

<!--Start Destinations -->
<section class="destinations">
  <div class="container mx-auto p-6 mt-12 mb-10">
    <h2 class="title">Destination Recommendations</h2>

    <div *ngIf="destinations.length > 0" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div routerLink="/destination/{{destination.id}}" *ngFor="let destination of destinations"
        class="card transition duration-300 transform hover:scale-105 hover:shadow-2xl">
        <figure>
          <img [src]="
              destination.imagePath.length > 0
                ? destination.imagePath[0]
                : 'assets/default-image.jpg'
            " alt="{{ destination.name || 'No Name' }}" class="w-full h-48 object-cover rounded-t-lg" />
        </figure>
        <div class="p-4 text-center">
          <h2 class="text-xl font-bold dark:text-white" style="color: gray">
            {{ destination.name || "Name not available" }}
          </h2>
        </div>
      </div>

      <!-- stitc card -->
      <div class="card" style="color: gray" routerLink="/destination" *ngIf="destinations.length > 0">
        <div class="first-content">
          <!-- see more icon -->
          <button class="btnMore">
            See more
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="50px" width="50px"
              class="icon">
              <path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.5"
                stroke="#fff"
                d="M8.91016 19.9201L15.4302 13.4001C16.2002 12.6301 16.2002 11.3701 15.4302 10.6001L8.91016 4.08008">
              </path>
            </svg>
          </button>
        </div>
        <div class="second-content">
          <!-- Go to all destinations icon -->
          <button class="Btn-Container">
            <span class="text">let's go!</span>
            <span class="icon-Container">
              <svg width="16" height="19" viewBox="0 0 16 19" fill="nones" xmlns="http://www.w3.org/2000/svg">
                <circle cx="1.61321" cy="1.61321" r="1.5" fill="black"></circle>
                <circle cx="5.73583" cy="1.61321" r="1.5" fill="black"></circle>
                <circle cx="5.73583" cy="5.5566" r="1.5" fill="black"></circle>
                <circle cx="9.85851" cy="5.5566" r="1.5" fill="black"></circle>
                <circle cx="9.85851" cy="9.5" r="1.5" fill="black"></circle>
                <circle cx="13.9811" cy="9.5" r="1.5" fill="black"></circle>
                <circle cx="5.73583" cy="13.4434" r="1.5" fill="black"></circle>
                <circle cx="9.85851" cy="13.4434" r="1.5" fill="black"></circle>
                <circle cx="1.61321" cy="17.3868" r="1.5" fill="black"></circle>
                <circle cx="5.73583" cy="17.3868" r="1.5" fill="black"></circle>
              </svg>
            </span>
          </button>

        </div>

        <ng-template #noData>
          <div class="flex justify-center items-center h-screen">
            <span class="loading loading-dots loading-2xl p-12 text-5xl"></span>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>
<!--End Destinations -->

<hr class="line my-12" />

<!--Start offers -->
<section class="offers">
  <div class="container mx-auto p-6 mt-12 mb-10">
    <h2 class="title">offers Recommendations</h2>

    <div *ngIf="offers.length > 0" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div routerLink="/destination/{{offer.id}}" *ngFor="let offer of offers"
        class="card transition duration-300 transform hover:scale-105 hover:shadow-2xl">
        <figure>
          <img [src]="
              offer.images.length > 0
                ? offer.images[0]
                : 'assets/default-image.jpg'
            " alt="{{ offer.nameOfDestination || 'No Name' }}" class="w-full h-48 object-cover rounded-t-lg" />
        </figure>
        <div class="p-4 text-center">
          <h2 class="text-xl font-bold dark:text-white" style="color: gray">
            {{ offer.nameOfDestination || "Name not available" }}
          </h2>
        </div>
      </div>

      <!-- stitc card -->
      <div class="card" style="color: gray" routerLink="/offers" *ngIf="offers.length > 0">
        <div class="first-content">
          <!-- see more icon -->
          <button class="btnMore">
            See more
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="50px" width="50px"
              class="icon">
              <path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.5"
                stroke="#fff"
                d="M8.91016 19.9201L15.4302 13.4001C16.2002 12.6301 16.2002 11.3701 15.4302 10.6001L8.91016 4.08008">
              </path>
            </svg>
          </button>
        </div>
        <div class="second-content">
          <!-- Go to all destinations icon -->
          <button class="Btn-Container">
            <span class="text">let's go!</span>
            <span class="icon-Container">
              <svg width="16" height="19" viewBox="0 0 16 19" fill="nones" xmlns="http://www.w3.org/2000/svg">
                <circle cx="1.61321" cy="1.61321" r="1.5" fill="black"></circle>
                <circle cx="5.73583" cy="1.61321" r="1.5" fill="black"></circle>
                <circle cx="5.73583" cy="5.5566" r="1.5" fill="black"></circle>
                <circle cx="9.85851" cy="5.5566" r="1.5" fill="black"></circle>
                <circle cx="9.85851" cy="9.5" r="1.5" fill="black"></circle>
                <circle cx="13.9811" cy="9.5" r="1.5" fill="black"></circle>
                <circle cx="5.73583" cy="13.4434" r="1.5" fill="black"></circle>
                <circle cx="9.85851" cy="13.4434" r="1.5" fill="black"></circle>
                <circle cx="1.61321" cy="17.3868" r="1.5" fill="black"></circle>
                <circle cx="5.73583" cy="17.3868" r="1.5" fill="black"></circle>
              </svg>
            </span>
          </button>

        </div>
        <ng-template #noData>
          <div class="flex justify-center items-center h-screen">
            <span class="loading loading-dots loading-2xl p-12 text-5xl"></span>
          </div>
        </ng-template>
      </div>



    </div>
    <!--End Destinations -->
  </div>
</section>
<!--End offers -->