.options {
    margin-top: 80px;
}

.title {
    font-style: italic;
    font-size: 30px;
    line-height: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 32px;
}

.line {
    width: 200px;
    height: 3px;
    margin: 0 auto 32px;
    color: #9040cd;
}

.card{
    border: 2px solid #9040cd;
}
