<div *ngIf="offer"
  class="container mx-auto p-8 mt-12 mb-10 bg-gradient-to-b from-gray-800 to-gray-900 shadow-lg rounded-2xl text-white">
  <div class="NC text-center">
    <h1 class="text-5xl font-extrabold text-primary mb-6 uppercase tracking-wide drop-shadow-lg">
      {{ offer.nameOfDestination }}
    </h1>
      <div class="offer-info-container">
        <div class="offer-duration"><i class="fa-solid fa-calendar" style="color: #d3ca1e"></i> Duration of journey : <br> {{
          offer.offerDuration }}</div>

        <div class="offer-expire" *ngIf="IsAdmin">
          ⏳ Expire On: <br> {{ getFormattedDate(offer.expireOn) }}
        </div>
        <div class="offer-expire" *ngIf="IsAdmin">
          ⏳ duration Of Expiration: <br> {{ offer.durationOfExpiration }}
        </div>
      </div>
  </div>

  <p class="text-lg leading-relaxed tracking-wide text-justify text-gray-300 px-6 mb-8">
    {{ offer.description }}
  </p>

  <!-- Start Scroll Image -->
  <div class="carousel-item overflow-hidden rounded-xl shadow-lg">
    <div *ngFor="let img of offer.images; let i = index" [id]="'slide' + (i + 1)" class="carousel-item relative w-full">
      <img [src]="img" class="w-full rounded-lg shadow-lg border border-gray-700" alt="offer Image"
        style="max-height: 550px; max-width: auto" />

      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a *ngIf="i > 0" href="#" class="btn btn-circle btn-outline border-blue-800"
          (click)="scrollToSlide(i - 1, $event)">
          ❮❮
        </a>

        <a *ngIf="i < (offer?.images?.length || 0) - 1" href="#" class="btn btn-circle btn-outline border-blue-800"
          (click)="scrollToSlide(i + 1, $event)">
          ❯❯
        </a>
      </div>
    </div>
  </div>

  <!-- End Scroll Image -->

  <div class="text-center mt-6">
    <div class="p-4 bg-gray-700 text-white rounded-xl shadow-lg inline-block text-2xl font-semibold">
      💰 Price: <span class="text-[#6366f1]">${{ offer.price }}</span>
    </div>
  </div>

  <div class="flex justify-center mt-6">
    <div class="btns" *ngIf="IsAdmin==true">
      <button *ngIf="offer.expired==true" class="btn btn-outline btn-primary" (click)="Reactive()">Reactive</button>
      <button class="btn btn-outline btn-primary" (click)="Update()">Update Offer</button>
      <button class="btn btn-outline btn-primary" routerLink="/admin/update-iamges-of-offer/{{offer.id}}">update
        images</button>
      <button class="btn btn-outline btn-primary" (click)="Delete()">Delete</button>
      <button class="btn btn-outline btn-primary" routerLink="/admin/add-images-to-offer/{{offer.id}}">Add
        images</button>
    </div>
    <button *ngIf="IsAdmin!=true" routerLink="/book-offer/{{offer.id}}" class="btn w-full">Book Now</button>
  </div>

  <ng-template #noData>
    <div class="flex justify-center items-center h-screen">
      <span class="loading loading-dots loading-2xl p-12 text-5xl"></span>
    </div>
  </ng-template>
</div>